.page__flex-govno {
    display: flex;
}

.page__main {
    flex-grow: 1;
}

.page_sidebar {
    will-change: min-height;

    min-width: 320px;
    max-width: 320px;
    margin-left: 20px;
}

.page__sidebar-inner {
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;

    height: max-content;
    font-size: 17px;
    margin-bottom: 0;
}

.page__sidebar-inner.ad {
    margin-bottom: 20px;
    cursor: pointer;
}

.ad__case {
    width: 210px;
    /* margin-top: 10px; */
    height: 210px;
    /* background-position: 400px 400px; */
    background: url(/maxresdefault-removebg-preview.png);
    background-size: 250% 150%;
    background-position: -110px -95px;
    margin: 0 auto;
    margin-top: -32px;
    filter: hue-rotate(
0deg
) saturate(100%) brightness(150%);
}

.ololo {
    text-transform: uppercase;
    text-align: center;
    /* font-size: 19px; */
    /* margin-top: -15px; */
    user-select: none;
}

.page__sidebar-list {
    overflow: auto;
    max-height: 300px;
    margin-bottom: 20px;
}

.page__sidebar-list:last-child {
    margin-bottom: 0;
}

.page__sidebar-list::-webkit-scrollbar {
    width: 12px;
    background: var(--color-mod-tag-bg);
    border-radius: 6px;
}

.page__sidebar-list::-webkit-scrollbar-thumb {
    width: 12px;
    background: var(--color-radio-border);
    border-radius: 6px;
}

.page__sidebar-list::-webkit-scrollbar-thumb:hover {
    background: var(--color-mod-tag);
}

.page__sidebar-flex-govno {
    display: flex;
    font-size: 19px;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.page__sidebar-flex-govno:first-child {
    margin-top: 0;
}

.page__sidebar-arrow {
    width: 16px;
    height: 16px;
    fill: currentColor;
}