body {
    background-image: linear-gradient(rgba(0, 0, 0, .527), rgba(0, 0, 0, .5)), var(--bg-art);
    background-color: var(--color-no-bg);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 100%;
    
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.tile {
    background-color: var(--color-bg);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(7px);
    margin-bottom: 20px;
}

.page {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1000px;
}

.page__logo-wrapper {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.page__logo {
    height: 190px;
    width: 484px;
}

.page__flex-govno {
    display: flex;
}

.page__main {
    flex-grow: 1;
}

.page_sidebar {
    will-change: min-height;

    min-width: 320px;
    max-width: 320px;
    margin-left: 20px;
}

.page__sidebar-inner {
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;

    height: max-content;
    font-size: 17px;
    margin-bottom: 0;
}

.page__sidebar-inner.ad {
    margin-bottom: 20px;
    cursor: pointer;
}

.ad__case {
    width: 210px;
    /* margin-top: 10px; */
    height: 210px;
    /* background-position: 400px 400px; */
    background: url(/maxresdefault-removebg-preview.png);
    background-size: 250% 150%;
    background-position: -110px -95px;
    margin: 0 auto;
    margin-top: -32px;
    filter: hue-rotate(
0deg
) saturate(100%) brightness(150%);
}

.ololo {
    text-transform: uppercase;
    text-align: center;
    /* font-size: 19px; */
    /* margin-top: -15px; */
}

.page__sidebar-title {
    font-size: 19px;
    margin: 20px 0;
}

.page__sidebar-title:first-child {
    margin-top: 0;
}

.page__sidebar-list {
    overflow: auto;
    max-height: 300px;
    margin-bottom: 20px;
}

.page__sidebar-list:last-child {
    margin-bottom: 0;
}

.page__sidebar-list::-webkit-scrollbar {
    width: 12px;
    background: var(--color-mod-tag-bg);
    border-radius: 6px;
}

.page__sidebar-list::-webkit-scrollbar-thumb {
    width: 12px;
    background: var(--color-radio-border);
    border-radius: 6px;
}

.page__sidebar-list::-webkit-scrollbar-thumb:hover {
    background: var(--color-mod-tag);
}

.theme-picker {
    position: fixed;
    background: black;
    bottom: 25px;
    left: 25px;
    z-index: 999;
    border: 1px solid rgb(255 255 255 / 30%);
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 17px;
    display: flex;
}

.theme-picker__circle  {
    border-radius: 999px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-left: 6px;
}

.theme-picker__garbage-state {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.space {
    white-space: pre;
}

