.mod {
    background-color: var(--color-bg);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    min-width: 650px;
    backdrop-filter: blur(7px);
}

.mod__title {
    font-size: 24px;
}

.mod__title:hover {
    color: var(--color-title-hover);
}

.mod__flex-govno {
    display: flex;
    margin: 20px 0;
}

.mod__preview-wrapper {
    min-width: 190px;
}

.mod__preview {
    max-width: 190px;
    max-height: 190px;
    border-radius: 6px;
}

.mod__description {
    margin-left: 15px;
    font-size: 17px;
    line-height: 1.5;
}

.mod__tags {
    margin-top: 9px;
}

.mod__tags-item {
    font-size: 15px;
    background: var(--color-mod-tag-bg);
    color: var(--color-mod-tag);
    padding: 4px 10px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 6px;
}

.mod__tags-item:last-child {
    margin-right: 0;
}

.mod__bottom-item {
    font-size: 19px;
    display: inline-block;
    margin-right: 15px;
}

.mod__bottom-item:last-child {
    margin: 0;
}