:root {
    /* https://www.indiehackers.com/ */
    /* --color-bg: #0e2439;  */
    --color-bg: hsl(209deg 61% 14% / 70%);
    --color-mod-tag-bg: #1f354c;
    --color-radio-border: #6b8aa8;
    --color-mod-tag: #b6cce2;
    /* ne indie */
    --color-title-hover: palegoldenrod;
}